<h3>Some statistics about our database:</h3>
<ul class="list-group">
  <li class="list-group-item">Number of songs: {{getsongLenght()}} </li>
  <li class="list-group-item">Number of playlists: </li>
  <li class="list-group-item">Average number of songs in playlists: </li>
  <li class="list-group-item">Number of artists: {{getArtistLenght()}} </li>
  <li class="list-group-item">Top song by length: {{gettopsongLenght()}} </li>
  <li class="list-group-item">(ADVANCED) Top artist by songs: {{getArtistSongs()[0].name}} </li>
</ul>
<h5>Artists ordered by number of songs</h5>
<ul class="list-group">

</ul>
