<div class="row">
    <div class="col-lg-3">
        <h5 align="right">User name</h5>
    </div> 
    <div class="col-lg-6">
        <select #select class="form-select" aria-label="Default select example" (change)="onUsuarioSelect(select.value)">
            <option value="">Select user name</option>
                @for (user of getUsuarios(); track $index) {
                    <option value="{{user.id}}  ">{{user.name}}</option>
                }
        </select>
    </div>
    <div class="col-lg-3"></div>
</div>

<div class="row">
    <div class="col-lg-2">
        <h5 align="right">Someone recommended you these films...</h5>
    </div> 
    <div class="col-lg-9">
        <table class="table table-striped" aria-labelledby="dataTable">
            <thead>
                <tr>
                    <th scope="col">Movie</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Year</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Recommended by</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (recomendacion of getRecomendacionToUser(); track $index) {
                    <tr>
                        <td>{{recomendacion.pelicula.Title}}</td>
                        <td>{{recomendacion.pelicula.Genre}}</td>
                        <td>{{recomendacion.pelicula.Year}}</td>
                        <td>{{recomendacion.Rating}}</td>
                        <td>{{recomendacion.usuarioRecomendante.name}}</td>
                        <td>
                            <button type="button" class="btn btn-warning" (click)="deleteRecomendacion()">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-lg-1"></div>
</div>

<div class="row">
    <div class="col-lg-2">
        <h5 align="right">You recommended these films...</h5>
    </div> 
    <div class="col-lg-9">
        <table class="table table-striped" aria-labelledby="dataTable">
            <thead>
                <tr>
                    <th scope="col">Movie</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Year</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Recommended to</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (recomendacion of getRecomendacionFromUser(); track $index) {
                    <tr>
                        <td>{{recomendacion.pelicula.Title}}</td>
                        <td>{{recomendacion.Genre}}</td>
                        <td>{{recomendacion.pelicula.Year}}</td>
                        <td>{{recomendacion.Rating}}</td>
                        <td>{{recomendacion.usuarioRecomendado.name}}</td>
                        <td>
                            <button type="button" class="btn btn-warning">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-lg-1"></div>
</div>
