body{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
.caja {
    width: 100px;
    height: 100px;
    background-color: red;
    transition: transform 0.8s ease;
}

@keyframes aumentarTamaño {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}

.caja:hover {
    animation: aumentarTamaño 0.8s forwards;
}