body{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.rebote_caja {
    width: 150px;
    height: 150px;
    background-color: blue;
    transition: transform 1s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.rebote_caja:hover {
    transform: translateX(300px);
}