.container{
    display: grid;
    grid-template-rows: 80px 1fr 80px;
    text-align: center;
}
header{
    background-color: lightblue;
}
main{
    background-color: chartreuse;
}
footer{
    background-color: crimson;
}