.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    font-size: 50px;
}
.item1{
    color: red;
}
.item2{
    color: blue;
}
.item3{
    color: green;
}
.item4{
    color: purple;
}