<div class="row">
    <div class="col-lg-4">
        <div class="input-group mb-3">
            <input #search (keyup.enter)="searchbyName(search.value)" type="text" class="form-control" placeholder="search movies by title..."
                    aria-label="search movies by title" aria-describedby="basic-addon2" >
            <div class="input-group-append">
                <button class="btn btn-warning" type="button">
                    Search
                </button>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
	<!-- AQUI CODIGO ANGULAR -->


    </div>
    <div class="col-lg-6">
        <blockquote class="blockquote">
            You are logged in as... <i class="text-success"><!-- AQUI CODIGO ANGULAR --></i>. Select target user:

          </blockquote>
        <div class="input-group mb-3">
            <select class="form-select" aria-label="Default select example">
                <option value="">Select a user</option>
		<!-- AQUI CODIGO ANGULAR -->
    @for (usuarios of getusuarios(); track $index) {
      <option value="{{usuarios.id}}">{{usuarios.name}}</option>
   }
            </select>
            <div class="input-group-append">
                <button class="btn btn-warning">RECOMMEND!</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <h3>Search results</h3>
    <div class="row row-cols-md-5">
        <!-- AQUI CODIGO ANGULAR -->
        @for (pelicula of getdatosjson(); track $index) {
          <app-cardpeliculas [peliculas]="pelicula"></app-cardpeliculas>
        }
    </div>
</div>
