body {
    font-size: 15px;
}

#interior {
    border: solid black 2rem;
} 
p{
    font-size: 20px;
}
#exterior {
    border: solid black 2em;
}

/*1*/
    /* 2rem * 15px = 30px */


/*2*/
    /* No,se basa en el tamaño de la fuente del elemento al que se aplica en este caso, el body.*/
    /* Si, el borde expresado en em se basa en el tamaño de la fuente del body */

    
/*3*/
    /* 2rem * 20px = 40px */
    /* Si, el resultado cambia. El borde ahora sera de 40 pixeles en lugar de 30 píxeles. */
    /* Si, el borde expresado en rem se basa en el tamaño de la fuente del html. */
    /* No,se basa unicamente en el tamaño de la fuente del html. */

