<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <title>Web site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="title" content="Web site" />
    <meta name="description" content="Site description here" />
    <meta name="keywords" content="keywords here" />
    <meta name="language" content="en" />
    <meta name="subject" content="Site subject here" />
    <meta name="robots" content="All" />
    <meta name="copyright" content="Your company" />
    <meta name="abstract" content="Site description here" />
    <meta name="MSSmartTagsPreventParsing" content="true" />

    <!-- CSS -->
    <link href="{{ asset('/css/style.css') }}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="wrapper">
        <div id="bg">
            <!-- Header -->
            <div id="header"></div>

            <div id="page">
                <div id="container">
                    <!-- Banner -->
                    <div id="banner"></div>

                    <!-- Navegación -->
                    <div id="nav1">
                        <ul>
                            {% block menu %}
                                {{ render(controller('App\\Controller\\MenuController::menu')) }}
                            {% endblock %}
                        </ul>
                    </div>

                    <!-- Contenido Principal -->
                    <div id="content">
                        <h2>Iniciar sesión</h2>

                        <form method="post">
                            <label for="email">Correo electrónico:</label>
                            <input type="email" id="email" name="_username" required value="{{ last_username }}">

                            <label for="password">Contraseña:</label>
                            <input type="password" id="password" name="_password" required>

                            <button type="submit">Iniciar sesión</button>

                            {% if error %}
                                <p style="color: red;">Credenciales incorrectas</p>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <div id="footerWrapper">
                <div id="footer">
                    {% block footer %}
                        {{ render(controller('App\\Controller\\FooterController::footer')) }}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>
