<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
          <a class="nav-link" routerLink="/vehicles" routerLinkActive="active">Vehicles</a>
          <a class="nav-link" routerLink="/manufacturers" routerLinkActive="active">Manufacturers</a>
          <a class="nav-link" routerLink="/garage" routerLinkActive="active">My garage</a>
          <!-- importas los routerlink y los routerlinks active y hace que al clicar una palabra te diriga a otro lado y se cambie el color sobre la palabra que has pinchado y se quede marcada-->
        </div>
      </div>
    </div>
</nav>  