<div class="card" style="width: 18rem; margin-top: 30px;">
    <img src="assets/{{vehicle.image}}" class="card-img-top" alt="..."><!--llamamos a la imagen de cada coche(coges el hijo de vehicle que es imagen)-->
    <div class="card-body">
      <h5 class="card-title">{{vehicle.name}}</h5><!--llamamos al nombre de cada coche(coges el hijo de vehicle que es name)-->
      <p class="card-text">{{vehicle.price}} €</p><!--llamamos al precio de cada coche(coges el hijo de vehicle que es precio)-->
      <a href="#" class="btn btn-primary">Add to garage</a>
    </div>
</div>
