@import '_colores';
@import 'mixin';

body{
    margin: 0px;
}
.container {
    text-align: center;
    background-image: url("imagen/Hallowen.PNG");   
    background-position: center;
    height: 100vh;
}
.boton-fantasma {
    display: inline-block;
    padding: 25px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 15px;
    margin-top: 350px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    @include ghostify("foscuro"); // Puedes cambiar "fclaro" a "foscuro" según sea necesario
}

@media screen and (max-width: 650px) {
    .container {
        background-image: url("imagen/Hallowen.PNG");
    }
}
h1{
    @include gradiente;
}

