@mixin gradiente{
    font-size: 72px;
    background: -webkit-linear-gradient(rgb(173, 66, 173), rgb(47, 47, 216), rgb(63, 61, 61));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}